 <!-- Navigation -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">IDENTIFY YOUR FACE</h1>
          <input id="link" type="url" placeholder="  Type the URL of your image" #text>
          <a id="btn1" href="#download" class="btn btn-outline btn-xl js-scroll-trigger" (click)= "btnClick(text.value)">identify your image from a link</a>
          <h5 id="or">OR</h5>
          <a id="btn2" href="#download" class="btn btn-outline btn-xl js-scroll-trigger">browse your image</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="full-width-image">
          <img id="img" src={{path}} (load)="imgClicked($event)" >
          <div id="rect" (mouseover)="hover()" (mouseleave)="leave()">

          </div>
          <ul id="list">
              <li>AGE: {{ age }}</li>
              <li>EMOTION: {{ emotion }}</li>
              <li>GENDER: {{ gender }}</li>
              <li>GLASSES: {{ glasses }}</li>
            </ul>
        </div>
      </div>

    </div>
  </div>


</header>

